$HoursRed: #D33423;
.date{
    color: #333333;
    font-size:14px;
    font-weight: bold;
}
.HoursContainer{
    color: #333333;
    h3{
        color:$HoursRed
    }
    font-size:14px;
    margin-bottom: 55px;


}