

$HoursRed: #D33423;
.MoreInfo{
    h3{
        font-weight: bold;
        color: $HoursRed;

    }
    font-weight: lighter;
    color: #333333;
        font-size: 14px;
    span{
        font-weight: bold;

    }

}