

$outer: 960px;
.NavbarBottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "left main right" ;
    grid-template-columns: 1fr $outer 1fr; 

}

.Navbar--Bot__Main{
    background: pink;
    grid-area: main;
    height: 100%;

}
.Navbar--Bot__Left{
    grid-area: left; 

}
.Navbar--Bot__Rigth{
    grid-area: right; 

}
.Navbar--Bot__Container{
    background: purple;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.Navbar--Bot__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float:left;
    width: 100px;
}
.NavBar--OuterContainer{
    height: 100%;
}
