$SideCorlors: #FAFAFA;
$BorderColor: #E6E6E6;
$BorderWidth: 1px;

$outer: 960px;
.NavbarBottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "left main right" ;
    grid-template-columns: 1fr $outer 1fr; 

}

.Navbar--Bot__Main{
    /*background: pink;*/
    grid-area: main;
    height: 100%;

}
.Navbar--Bot__Left{
    grid-area: left; 
    background: $SideCorlors;
    border-bottom: 1px $BorderColor solid;

}
.Navbar--Bot__Rigth{
    grid-area: right; 
    background: $SideCorlors;
    border-bottom: 1px $BorderColor solid;

}
.Navbar--Bot__Container{
    background: purple;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.Button--End{
    border-left: $BorderWidth;
    border-right: $BorderWidth;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: $BorderColor; 
}
.Button--Mid__Right{
    border-right: $BorderWidth;
    border-left: 0px;
    border-top: 0px;
    border-style: solid;
    border-color:$BorderColor;

}
.Navbar--Bot__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float:left;
    width: 100%;
    background: $SideCorlors;
    border-bottom: 1px $BorderColor solid;
}
.Navbar--Bot__button{
    font-size:13px;
    i{
        font-size: 18px;
    }

}
.NavBar--OuterContainer{
    height: 100%;
}

.NavBar--Bot__Link{
    border-style: solid;
    border-color: $BorderColor;
    border-width: $BorderWidth;
    border-bottom: $BorderWidth;
    border-top: 0px;
    border-left: 0px; 
}