*{
    /*border: .5px red solid;*/
}
$outer: 990px;
.NavBar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "top top top" 
                     "left main right"
                     "bottom bottom bottom";

                        

    grid-template-rows: 26px 65px 40px;
    grid-template-columns: 1fr $outer 1fr;
}

.NavBarTop{
    grid-area: top;
    display: flex;
    justify-content: center;
    background: #BD2D1D;
    font-size: 13px;
    font-weight: bold;
    color: #fff
}

.NavAside--left{
    background: #D33422;
    grid-area: left;

}
.NavMain{
    height: 100%;
    background: blue;
    grid-area: main;
    display: flex;
    align-content: center;

}
.NavAside--right{
    background: #D33422;
    grid-area: right;

}
.NavMain--bottom{
    background: orange;
    grid-area: bottom;
}



.greeting--container{
    width: 120px;
    background: orange
}
.Nav--Searchbox{
    width:20%;
    background: green;;

}
.Nav--Greeting{
    width: 50%;
    background: red;

}