
$outer: 990px;
.NavBar{
    background: violet;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "top top top" 
                     "left main right"
                     "bottom bottom bottom";

    grid-template-rows: 30px 6fr;
                        

    grid-template-rows: 26px 64px;
    grid-template-columns: 1fr $outer 1fr;
}

.NavBarTop{
    grid-area: top;
    display: flex;
    justify-content: center;
    background: #BD2D1D;
    font-size: 13px;
    font-weight: bold;
    color: #fff
}

.NavAside--left{
    background: #D33422;
    grid-area: left;

}
.NavMain{
    background: blue;
    grid-area: main;

}
.NavAside--right{
    background: #D33422;
    grid-area: right;

}
.NavMain--bottom{
    background: blue;
    grid-area: main;

}