$FixedHeight: 420px;
$TEXTcolor:#333333;
$BorderColor: #E6E6E6;
$NotPickedGrey: #CCCCCC;
$StarRadius: 3px;
$BorderColorMap: #E6E6E6;
$StarColor: #E65A50;
$tarGreyColor: #CCCCCC;
$BackgroundGrey: #F5F5F5;
.ShowPage{
    /*background: $BackgroundGrey;*/
    /*background: green;*/
    /*height: $FixedHeight;*/

}
.ShowBackground{
    left:0;
    z-index: -3;
    position: absolute;
    float: left;
    
    background: $BackgroundGrey;
    /*background: pink;*/
    width: 100%;
    height: $FixedHeight;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:1px;
    border-color: $BorderColor;
    border-style: solid;

}
.Show--Top{
    height: 126px;
    padding-top: 22px;
    /*background: lightblue;*/
    background: $BackgroundGrey;
    display: flex;


}
.ShowInfo{
    width: 50%;
    p{
        padding-top: 10px;
    }
    
    /*background: violet;*/
    background: $BackgroundGrey;
    h1{
        color: $TEXTcolor; 
        font-size:35px; 
    }

}
.ShowLinks{
    width: 50%;

    /*background:purple;*/
    background:$BackgroundGrey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.ShowMap{
    padding: 5px;
    border: 1px $BorderColorMap solid;
    background:#FFFFFF;
    /*background: orange;*/
    width: 285px;
    height: 280px;
    
}
.ShowPictures{
    width:675px;
    display: flex;
    height: 225px;

    background:$BackgroundGrey;
    /*background:yellow   ;*/
    
}
.RatingStars{
    padding-top: 8px;
    display: flex;
}
.Rating--star__red{
    color:white;

}
.Rating--star__half{
    color: white;
    
}
.Rating--star__white{
    color:white;

}
.Ratings--ReveiewAmount{
    padding-top: 3px;
    display: grid;  
    place-content: center;

}
.Rating--background__red{
    background: $StarColor;
}
.half_div{ 
    position: relative;
    height: 100%;
    width: 18px;

}
.half_color{
    position:absolute;
    background:$StarColor;
    height: 25px;
    width: 12px;
    top:  -3px;
    left: -3px;
    border-radius: $StarRadius 0px 0px $StarRadius;

}
.z-index-up{
    position: absolute;
    z-index: 30;
}

/*

.half_div::after{
    content: "";
    width: 99px;
    height : 99px;
    background: orange;
 }
 */

.Rating--background__half{
    background: $NotPickedGrey; 
} 

.Rating--bacground__white{
    background: $NotPickedGrey
}
.RB{
    margin: 2px;
    border-radius: $StarRadius;
    padding: 3px;
}
.Show--Bottom{
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.reviewPageStars{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.reviewPageStar--Star{
    color: white;
    padding: 3px;
    font-size: 20px;
    position: relative;
    bottom: -2px;
}
.reviewPageStars--Background__0{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;

    background: #CCCCCC;
}
.reviewPageStars--Background__1{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;
    background: #F1BD79;
}
.reviewPageStars--Background__2{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;
    background: #F1BF14;
}
.reviewPageStars--Background__3{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;
    background: #EB9042;
}
.reviewPageStars--Background__4{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;
    background: #E65A4F;

}
.reviewPageStars--Background__5{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 2px;
    border-radius: $StarRadius;
    background: #D42E23

}