
.PictureCard{
    width: 225px;
    height: 225px;;
    transition: transform .2s; /* Animation */
    position: relative;


}
.PicCard__center{
    /*border: green solid 5px;
    /*transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.hovered{
    transform: scale(1.1);
    transition: transform .5s; /* Animation */
    z-index: 100;
}
.PictureCard--Overlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

.PictureCard--Fit{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.PictureCard:hover{
/*  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.hove{
    border: 32px solid black;
}
//.zoom {
//  transition: transform .2s; /* Animation */
//}
//
//.zoom:hover {
//  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//}