
.PictureCard{
    width: 225px;
    height: 225px;;
    transition: transform .2s; /* Animation */
    position: relative;


}
.PicCard__center{
    /*border: green solid 5px;
    /*transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.hovered{
    background: #F5F5F5;
    transform: scale(1.1);
    transition: transform .5s; /* Animation */
    box-shadow: 0 0 25px black;
    z-index:8;
}
.PictureCard--Overlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}

.PictureCard--Fit{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.PictureCard:hover{
/*  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

//.zoom {
//  transition: transform .2s; /* Animation */
//}
//
//.zoom:hover {
//  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//}
.ShowPictures--Caption{
    opacity: .80;
    bottom: 0px;
    position: absolute;
    width: 225px;
    background:black;
    color: white;
    display: flex;


}

.PicutureContainer{

    //background: black;
    //height:95vh;
    //width: 95vw;
    position: relative;
    //top:0;
    //left:0;
    z-index: 101;
}
.ModalPicture{

    background-color: rgba(0,0,0,0.7);
    position: fixed;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index: 111;
    border-radius:6px;
    //background: purple;
    //min-height: 400px;
    height: 904px;
    //min-width: 960px;
    width: 1300px;

    display:grid;
    grid-template-areas: "picL picR";
    grid-template-columns: 1fr 300px;
}

.PictureContainerLeft{
    //background: yellow;
    border-radius: 6px 0px 0px 6px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    grid-area: "picL";
    display: flex;
    justify-content: center;
    align-items: center;


}
.PictureContainerRight{
    width: 100%;
    border-radius:0px 6px 6px 0px; 
    background: #FFFFFF;
    background: pink;
    grid-area:'picR';

}
 