$LeftSideBar: 640px;
.map{
    width:300px;
    height: 345px;
}
.IndexPage--MainContainer{
  display:grid;
  height:100%;
  width:100%;
  grid-template-areas: "top top"
                        "left right";

  grid-template-columns: $LeftSideBar 1fr;
  grid-template-rows: 130px 6fr;
}
.Index--Page__Top{
    grid-area: top;
}
.Index--Page__Left{
    grid-area: left;
}
.Index--Page__Right{
    grid-area: right;
}