$borderRadius: 3px;
$greeingHeight: 100%;
$buttonColor: #BD2E1E;
.Nav--Greeting{
    height: 120px;
    width: 200px;
    display: grid;
    place-items: center;


}
.Greeting-Img{
    height: $greeingHeight;
    border-radius: $borderRadius  0px 0px $borderRadius ;

}
.Greeting--nameItem{
    border-radius: 3px;
    width: 38px;
    height:  38px;
    text-align: center;
    padding-top:8px;

}
.Greeting--nameItem:hover{
    background: #A12629;
}

.Greeting--NameContainer{
    padding:0px 3px;
    z-index: 33;
    //background: purple;
    color:#FFFFFF;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;

}
.Greeting--ProfileContainer{
    display: flex;
    img{
        height: 38px;
        width: 38px;

    }

}
.greeting_username{
    width: 5px;
    background: orange;
    font-size: 10px;
    position: relative;
}
.fa-sort-down{
    position: relative;
    font-size: 13px;
    top:-2px;
}

.Greeting--ProfileToggle:hover{
    //background: #A12629;
    opacity: 1;

}
.Greeting--ProfileToggle{
    opacity: 0.75;
    width:23px;
    border-radius: 0px $borderRadius   $borderRadius 0px;
    height: 38px;
    color: #fff;
    font-size: 15px;
    /*background: pink;*/
    background: #bd1f1f; 
    //background: $buttonColor;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Greeting--Logout{
    color: #fff;
    font-size: 15px;
    width: 47px;
    height: $greeingHeight;
    /*background: pink;*/
    background: $buttonColor;
    display: grid;
    place-items: center;
    border-radius:  $borderRadius 0px  0px $borderRadius;
    font-weight: bold;


}
.center{

    display: flex;
    align-items: center;
    width:157px;
    justify-content: space-evenly

    //display: grid;
    //place-items: center;
}
.ProfileElement{
    display: flex;

}
.ProfileElement--Picture{
    border-radius: 3px;
    height:  60px;
    width:  60px;
}
.ProfileElement--User{
    margin-left: 7px;
    h3{
        font-size:14px;
        color: #0073BB;
    margin-bottom:3px;
    }
    p{
        font-size:12px;
        color: #333333;
        font-weight: bold;

    }



}
.ProfileElement--Counts{
    font-size: 12px;
    font-weight: bold;
    color: #666666;

    .fa-male{
        color:#E65A03;

    }
    .second{
        color: #EEAA8A;
    }
    .fa-star{
        top:-3px;
        padding-top: -8px;
        position: relative;
        text-align: center;
        width:12px;
        font-size: 8px;
        height: 12px;
        border-radius:2px; 
        color: #ffffff;
        background: #E65A03;
    }
}
//E65A03