
$yelpred: #d32323;
$outer: 960px;
$BackgroundGrey: #F5F5F5;

.MainHeader{
    position: relative;
    z-index: 30;
    grid-area: top;
    /*background: rgb(35, 156, 255);*/
    background: #D23421;
}

.DummyMain--RSideBar{
    grid-area: left;
}
.DummyMain--LSideBar{
    grid-area: right;
}
.Switching{
    height: auto;
    grid-area: main;
    /*background: rgb(118, 228, 228);*/

}


.DummyMain--Footer{
    border-top:1px solid #E6E6E6;
    margin-top:36px;
    //background: black;
    background: #F5F5F5;
    //background: $BackgroundGrey;
    //height: 100%;
    grid-area: bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.FooterBlocks{
    margin: 10xp;
    //background: orange;
    h3{
        font-size: 16px;
        color:#D42E23;
        margin-bottom: 9px;
        margin-top: 17px;
    }
    a{
        font-size: 14px;
        color:#3E74BB;
    }
    a:hover{
         text-decoration: underline;
    }
    ul{
        padding-top:5px;
    }

}
.Footer--CopyRight{

    color:#666666;
    font-size: 12px;
}
.FooterBlocksContainer--Center{
    width: 960px;
    display: flex;
    justify-content: space-between;

}
.FoooterBlocksContainer{
    margin-top:36px;
    justify-content: center;
    display: flex;
    width: 100%;

    margin-bottom: 60px;

}
.FooterImageContainer{
    text-align: center;
    padding-bottom:30px;

}
.Greeting--Modal{
  display:grid;
  grid-template-areas: "mleft mmain mright";

  grid-template-columns: 1fr $outer 1fr;

    z-index: 99;
    top:0;
    width: 100%;
    height: 1px;
    //background: purple;
    position: absolute;
}
.Greeting--ProfileElement{
    padding: 10px;


}
.Greeting--ProfileElement__hr{
    align-self: center;
        width:70px;
}
.Greeting--ProfileLogout{
    border-top: 1px #E6E6E6 solid;
    margin: 0px 10px;

}
.LogOutLink{
    padding-top:10px;
    font-size: 14px;
    color:#3E74BB;

}
.Greeting--Profile{
    border: 1px solid #CCCCCC;
    border-radius: 3px;


    position: absolute;
    top:89px;
    right:0px;
    background: #ffffff;
    //background: pink;
    width: 215px;
    //height: 84px;
    height: 124px;
    z-index: 100;
    grid-area: mmain;
}
.Pointerblock{
    z-index: 102;
    position: relative;
    top:-115px;
    right:-176px;
    width:15px;
    height: 15px;
    //background: #3E74BB;
    background: #ffffff;
    box-shadow: -1.5px .5px rgba(3,3,3,.2);
    transform: rotate(45deg);
}
.GreetingContainer{
    position: relative;
}
.Greeting--Profile::after{
    z-index: 140;
    box-shadow: -1.5px .5px rgba(3,3,3,.2);
    top:-6px;
    right:-1053px;
    transform: rotate(45deg);
    position: relative;
    content: "";
    height: 130px;
    width: 130px ;
//    height: 13px;
//    width: 13px ;
    background: inherit;

}
.Greeting--Profile::before{
    z-index: 142;
    top:-0.5px;
    right:19px;
    position: absolute;
    content: "";
    height: 11px;
    width: 22px ;
    //background: orange;
    background: inherit;
}

.DummyMain {
  display:grid;
  grid-template-areas: "top top top"
                        "left main right"
                        "bottom bottom bottom" ;

  grid-template-columns: 1fr $outer 1fr;
  grid-template-rows: 130px auto auto;
}
.MainModal{
    background: rgb(0,0,0);
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    z-index: 99;
    position: fixed;

}


.login--header{
    background: $yelpred;
    grid-area: top;
    display: flex;
    justify-content: center;
} 
.BizForm{
    //background: pink;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.BizForm--Desc{
    padding:25px 0px;
    font-size: 30px;
    width:100%;
    display: flex;
    justify-content: center;
}
.BizForm--Pic{
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;

}

.BusinessForm{
    //background: purple;
    height: 100%;
    width: 465px;
    position: relative;
    font-size:14px; 
    label{
        font-weight: bold;
    }
    input{
        border-radius: 3px;
        margin:7px 0px;
        height: 30px;
        border:1px solid #999;
        padding: 5px 9px;
        color:#656565;
    }
    select{
        border-radius: 3px;
        margin:7px 0px;
        border:1px solid #999;

    }
    textarea{
        color:#656565;
        padding: 5px 9px;
        border:1px solid #999;
        border-radius: 3px;
        margin:7px 0px;
        height: 250px;
    }
    *{
        width: 100%;
    }
    .submit{
        display: flex;
        background: green;
        width: 100%;
        justify-items: end;
    }
    input[type=submit]{
        font-weight: bold;
        border: none;
        height: 35px;
        width: 134px;
        background: #D42E23;
        position: relative;
        right:-331px;
        color:#FFFFFF;
        font-size:14px;
    }
}