
$yelpred: #d32323;
$outer: 960px;
$BackgroundGrey: #F5F5F5;

.MainHeader{
    position: relative;
    z-index: 30;
    grid-area: top;
    /*background: rgb(35, 156, 255);*/
    background: #D23421;
}

.DummyMain--RSideBar{
    grid-area: left;
}
.DummyMain--LSideBar{
    grid-area: right;
}
.Switching{
    height: auto;
    grid-area: main;
    /*background: rgb(118, 228, 228);*/

}


.BizForm{
    background: pink;
    height: 100%;

}
.DummyMain--Footer{
    border-top:1px solid #E6E6E6;
    margin-top:36px;
    //background: black;
    background: #F5F5F5;
    //background: $BackgroundGrey;
    //height: 100%;
    grid-area: bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.FooterBlocks{
    margin: 10xp;
    //background: orange;
    h3{
        font-size: 16px;
        color:#D42E23;
        margin-bottom: 9px;
        margin-top: 17px;
    }
    a{
        font-size: 14px;
        color:#3E74BB;
    }
    a:hover{
         text-decoration: underline;
    }
    ul{
        padding-top:5px;
    }

}
.Footer--CopyRight{

    color:#666666;
    font-size: 12px;
}
.FooterBlocksContainer--Center{
    width: 960px;
    display: flex;
    justify-content: space-between;

}
.FoooterBlocksContainer{
    margin-top:36px;
    justify-content: center;
    display: flex;
    width: 100%;

    margin-bottom: 60px;

}
.FooterImageContainer{
    text-align: center;
    padding-bottom:30px;

}
.DummyMain {
  display:grid;
  grid-template-areas: "top top top"
                        "left main right"
                        "bottom bottom bottom" ;

  grid-template-columns: 1fr $outer 1fr;
  grid-template-rows: 130px auto auto;
}

.login--header{
    background: $yelpred;
    grid-area: top;
    display: flex;
    justify-content: center;
} 

.BusinessForm{
    background: purple;
    height: 100%;
    width: 700px;
    position: relative;
    margin-top: 100px;
    textarea{
        height: 250px;
    }
    *{
        width: 100%;
    }
}