
$yelpred: #d32323;
$outer: 990px;

.MainHeader{
    position: relative;
    z-index: 30;
    grid-area: top;
    background: rgb(35, 156, 255);
}
.DummyMain{
}
.DummyMain--RSideBar{
    grid-area: left;
}
.DummyMain--LSideBar{
    grid-area: right;
}
.Switching{
    grid-area: main;
    background: rgb(118, 228, 228);

}
.DummyMain--Footer{
    background: black;
}


.DummyMain--Footer{
    height: 50px;
    grid-area: bottom;
}
.DummyMain {
  display:grid;
  height:100vh;
  grid-template-areas: "top top top"
                        "left main right"
                        "bottom bottom bottom" ;

  grid-template-columns: 1fr $outer 1fr;
  grid-template-rows: 130px 6fr;
}

.login--header{
    background: $yelpred;
    grid-area: top;
    display: flex;
    justify-content: center;
} 
