

.DragArea{
    border: 3px #999999 dashed;
    border-radius: 5px;
    width: 838px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.green{
    background: green;
}
.fileInput{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.DragArea--Submit{
    display: flex;
    align-content: center;
    justify-content: center;

}
.fileInputButton{

    color:#FDFFFF;
    font-weight:bold;
    font-size:15px;
    padding-top: 9px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #D42E23;
    width: 124px;
    height: 36px;
    border-radius: 3px;

}

.fileInput--HzLine{
    font-size: 1em;
    padding: 0 15px;
    margin: 0 auto;

}
.ReviewPage--HrLine{
    width:310px;
    hr{
        border: .5px solid #CCCCCC;
        margin-top: 7px;
    }



}
.DragArea--Desc{
    width: 100%;
//    display: flex;
//    align-content: center;
//    justify-content: center;

}
.DragArea--Text{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;

}
.DragArea--ORcontainer{
    display: flex;
    align-content: center;
    justify-content: center;

}
.PictureSubmit--BizName{
    padding-top:18px;
    padding-bottom:7px;
    font-size: 21px;
    display: flex;
    align-items: center;
    color:#3E74BB;
    letter-spacing: 0px;
    a:hover {
        text-decoration: underline;
    }

}
.PictureSubmit--Title{
    color: #D42E51;
}
.PictureSubmit{

}
.PictureSubmit--Header{
    height: 120px;
}
.PictureSubmit--AllPics{
    color:#3E74BB;
    font-size: 14px;


}
.DragAreaContainer{
    display: flex;
    justify-content: center;

}
.DragArea--OR{
    color:#666666;
    font-size: 13px;
    font-weight: lighter;

}
.ImageUploadTips{
    margin-left:42px; 
    padding-top: 72px;
    width: 91%;
    display: flex;
    justify-content: space-between;
}
.ImageUploadTips--Card{
    width:150px;
}
.ImageUploadTips--Text{
    color: #999999;
    text-align: center;
    width: 155px;
    font-size: 14px;
    display: grid;
}
.fa-check{
    color:#51A704;
}
.PictureUpload--Suc{
    font-weight: bold;

}
.PictureUpload--img{
    width: 225px;
    height: 225px;

}
.PictureUpload--Fin{

}