$OuterDivHeigth: 250px;
$InnerContainerHeight: 210px;
$IdexInfoLength: 400px;
$IndexItemWidth--Container: 631px;
$IndexItemHeigth--Container: 250px;
$PicDim: 210px;
$LinkColor: #4474BB;
$GreyText:#333333;
$Background:#FFFFFF;
$BorderColour: #E6E6E6;
    /*
    width:631px;
    height:248;
    */

    //padding-top: 70px;


.IndexItemContainer{
    /*background: blue;*/
    width: 610px;
    //background: orange;
    //background:$Background;
    border-bottom: 1.5px solid $BorderColour;
    display: flex;
    align-items: center;
    height: $OuterDivHeigth;


}
.IndexItemContainer:last-child{
    //background: purple;
    border: none;
}
.IndexItem{
    /*background: orange;*/
    /*border: green solid .5px;*/
    background:$Background;
    width: $IndexItemWidth--Container; 

    height: 210px;
    display:grid;
    grid-template-areas: "pic info";

    grid-template-columns: $PicDim 1fr;
    a{
        color:$LinkColor;

    }
}

.IndexItem--Right{
    margin-left: 20px;
    /*background: blue;*/
    background: $Background;
    height: 210px;
    display:grid;
    grid-template-areas: "detail detail"
                          "desc desc";

    grid-template-rows: 1fr 1fr;

    position: relative;
}

.IndexItem--Picture{
    grid-area: pic;
}
.IndexItem--Info{
    /*background: purple;*/
    background: $Background;
    grid-area: detail;
    display: flex;
    justify-content: space-between;
}
.IndexItem--Description{
    grid-area: desc;
    font-size: 14px;
    color:#333333;
    pre{
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;

    }
}
.IndexItem--Image{
    object-fit: cover;
    border-radius: 5px;
    width: $PicDim;
    height:  $PicDim;
}

.RatingScaledDown{
    left:-30px;
    position: relative;
    transform: scale(.75);
    /*background: pink;*/
    background: $Background;
    padding: 0px
}
/*
.SideBar{
    width: 300px;
}
*/
.IndexBold{
    font-weight: bold;
}
.IndexItem--Info__Right{
    text-align: right;
    /*background: green;*/
    background: $Background;
    font-weight: lighter;
    letter-spacing: 1.3px;
    font-size: 14px;
    color:#FFFFFF;


}
.IndexItem--Info__Left{

    //background:orange;
    background:$Background;
}

.IndexDot{
    font-size: 9px;
    position: relative;
    top:-3px;
}
.Index--GreyText{
    color: $GreyText;
    //height: 64px;
    padding-bottom:5px;
    overflow: hidden;
    //background: pink;
    span{
        color:#797979;
    }

}
